@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

#app {
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #f5e7f3;
}

p {
  font-family: 'Jost', sans-serif;
}

/* home page */
.bg {
    background-color: #231133;
}

.home {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}

h1 {
  font-weight: bold !important;
  font-size: 18px;
  color: #F5E7F3;
}

h2 {
  font-weight: bold !important;
  font-size: 18px;
  color: #F5E7F3;
}

#info {
  width: 17%;
  float: left;
  margin: 20px 4%;
  padding: 20px 2%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #4B2C5D;
}
.moon {
  width: 50%;
  margin: 10px 4% 15px;
  border-radius: 20px;
}

#nav {
  padding: 10px 4%;
}

a {
  font-weight: bold;
  color: #a6bdf5 !important;
}

a :active {
  color: #3B538E;
}

.router-link-active {
  color: #3B538E;
}

li a {
  display: block;
  width: 90%;
  margin: 0 auto;
}

#display {
  width: 45%;
  text-align: left;
  float: left;
  padding: 20 4%;
  margin: 20 0;
}

.article {
  margin: 20px 0;
  padding: 15px 4%;
  background-color: #633277;
  border-radius: 20px;
}

.article h2 {
  margin: 10px 0;
  color: #A6BDF0;
}

.article p {
  margin: 5px 0;
}

.date {
  font-size: smaller;
  color: #A6BDF0;
}

#socials {
  float: left;
  width: 30%;
  padding: 0 4%;
  margin-bottom: 100px;
}

/* @counter-style cvijet {
  system: cyclic;
  symbols: "\2601";
  suffix: " ";
} */

#prijatelji {
  list-style-type: none;
  width: 65%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
  text-indent: 5px;
}

#prijatelji li {
  margin: 5px 0;
}

.friends {
  padding: 20px 4%;
  border-radius: 30px;
  background-color: #4B2C5D;
  margin: 20px 0;
  width: 100%;
}
#teme {
  margin: 10px 5%;
}
#teme li {
  font-weight: bold;
  font-size: 15px;
  margin: 5px 0;
  text-align: left;
}

#calendar {
  margin: 25px 0;
}

.blue {
  color: #a6bdf5;
  float: none;
}

/* kalendar */
#calendar {
  margin-bottom: 50px;
}

/* new entry */

@media screen and (max-width: 992px){
  .home {
    max-width: 100%;
  }
}

@media screen and (max-width: 775px){
  .home {
    max-width: 98%;
  }
  #info {
    float: none;
    width: 92%;
  }
  #nav {
    padding: 10px 0%;
  }
  #nav a {
    float: left;
    width: 33%;
  }
  .moon {
    height: 100px;
    width: 100px;
  }
  #display {
    float: none;
    width: 100%;
    margin: 20px 4%;
  }
  .article {
    width: 92%;
  }
  #socials {
    float: none;
    width: 92%;
    padding: 0;
    margin: 20px 4%;
  }
  .friends {
    width: 30%;
    float: left;
    margin: 0 1.5% 20px;
    padding: 20px 2%;
    height: 225px;
  }
}

@media screen and (max-width: 576px){
  .friends {
    float: none;
    height: auto;
    width: 100%;
    margin: 20px 0;
    padding: 20px 2%;
  }
  .article {
    font-size: 13px;
  }
}

/* log in page */

#pozadina {
  background-color: #231133;
  overflow: hidden;
}

#sadrzaj {
  max-width: 60%;
  width: 100%;
  margin: 0 auto;
}

#login {
  width: 50%;
  float: left;
  margin: 75px 0;
  background-color: #633277;
  padding: 4%;
  height: 80vh;
  border-radius: 15px 0 0 15px;
}

#login h1 {
  font-size: 35px;
  margin-top: 50px;
  color: #F5E7F3;
}

.prijava {
  width: 100%;
  padding: 20px 2%;
  align-items: center;
  text-align: center;
}

.log {
  width: 100%;
  text-align: left;
  height: 20px;
  display: inline-block;
  border: 1px solid #f5e7f3;
  background-color: #3B538E;
  color: #f5e7f3;
  margin: 7px 0;
  padding: 20px 4%;
  border-radius: 20px;
}

.prijava input::placeholder{
  color: #f5e7f3;
}

.prijava input [type=checkbox]{
  text-align:left;
}

#check {
  text-align:left;
  display: block;
  margin: 7px 2%;
}

.prijava a {
  width: 100%;
  display: block;
  text-align: left;
  margin: 7px 2%;
}

#loginB {
  width: 40%;
  text-align: left;
  display: inline-block;
  background-color: #f5e7f3;
  margin: 20px 0;
  padding: 5px 4%;
  border-radius: 20px;
}

#boja {
  color: #282544;
  text-align: center;
  display: block;
  font-size: 18px;
}

#login-link {
  text-align: center;
  display: inline-block;
}

#slika {
  width: 50%;
  background-image: url("assets/img/vibes2.png");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: 50%;
  background-attachment: fixed;
  background-position: 80% 65%;
  float: left;
  margin: 75px 0;
  border-radius: 0 15px 15px 0;
}

#regB {
  width: 40%;
  text-align: left;
  display: inline-block;
  background-color: #231133;
  margin: 90px 0;
  padding: 10px 4%;
  border-radius: 20px;
}

#boja2 {
  color: #F5E7F3;
  text-align: center;
  display: block;
  font-size: 18px;
}

#regC {
  display: none;
}

@media screen and (max-width: 1320px) {
  #slika {
    background-size: 75%;
    background-position: 110% 50%;
  }
}

@media screen and (max-width: 972px) {
  #slika {
    background-size: cover;
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 696px) {
  #sadrzaj {
    max-width: 80%;
    width: 100%;
  }
  #regB {
    width: 80%;
  }
  #loginB {
    width: 80%;
  }
}

@media screen and (max-width: 460px) {
  #sadrzaj {
    max-width: 95%;
    width: 100%;
  }
  #login {
    float: none;
    width: 100%;
    border-radius: 15px;
  }
  #loginB {
    margin: 40px 0 20px;
  }
  #slika {
    float: none;
    background-image: none;
    width: 100%;
    border-radius: 15px;
    display: none;
  }
  #regC {
    width: 80%;
    text-align: left;
    display: inline-block;
    background-color: #231133;
    margin: 10px 0;
    padding: 10px 4%;
    border-radius: 20px;
  }
}